{% extends "auctions/layout.html" %}


{%block title%} category {% endblock%}

{%block body %}
<div class="container" style= "margin:0px">
    <h2>user watchlist</h2>
    <div class="row">
      {% for items in catList %}
        <div class="col-md-6 mb-1">
          <div class="card">
            <img src="{{ items.picture }}" class="card-img-top" alt="{{ items.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ items.title }}</h5>
              <p class="card-text">{{ items.description }}</p>
              <p class = "card-text">${{items.starting_bid}}</p>
              <a href="{% url 'listing_page' items.listingID %}" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock %}

