/*layout template*/
body{
   /* background-image: 
    radial-gradient(circle, white, black,grey,black)
    */
    background-color: #ffffff;
}
.main-nav{
    background-color:#A69CAC;
    color: rgb(134, 134, 134);
}

.nav-link
{
    color: rgb(112, 109, 109);
}

/*for the post forum*/
.post-form 
{
    border: solid, rgb(0, 0, 0), 1px;
    margin-right: 800px;
    padding:20px;
    
}

.post-label
{
    margin-bottom: 1em;
    margin-bottom: 1em;
    color: rgb(19, 16, 16);
}
#sub-Button
{
    margin-bottom: 3%;
}

/* this is for the posts*/
.main-content
{
 
    background-color: #ffffff;
    width: 50em;

    color: #000000;

}
.individual-post
{
    flex-direction: column;
    border-bottom:#f7f7f7 5px solid;
    width: inherit;

}
.header
{
    font-size: 20px;
    font-family:Georgia, serif; ;
    text-align: center;
}
.top-section
{
    display: flex;
    flex-direction: row;
}
.bottom-section
{
    flex-direction: column;
}
.likeboxArea
{
    background-color: #ffffff;
}

