/*layout template*/
body{
   /* background-image: 
    radial-gradient(circle, white, black,grey,black)
    */
    background-color: #ffffff;
}
.main-nav{
    background-color:#000000;
    color: rgb(255, 255, 255);
}

.nav-link
{
    color: rgb(255, 253, 253);
}

/*for the post forum*/
.post-form 
{
    border: solid, rgb(0, 0, 0), 1px;
    margin-right: 800px;
    padding:20px;
    width: 50em;
}

.post-label
{
    margin-bottom: 1em;
    margin-bottom: 1em;
    color: rgb(19, 16, 16);
}
#sub-Button
{
    margin-bottom: 3%;
}

/* this is for the posts*/
.main-content
{
    background-color: #ffffff;
    width: 50em;
    color: #000000;
}


.likeboxArea
{
    background-color: #ffffff;
}

